body {
    font: 14px "Lucida Sans", Futura, sans-serif;
    margin: 20px;
}

.inline {
    display: inline-block;
}

.square-basic {
    box-sizing: border-box;
    border-color: #3f3f46;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    vertical-align: middle;
    white-space: pre-line;
}
.card {
    width: 100%;
    padding: 50px;
    line-height: 1.5rem;
    height: 600px;
}
.button {
    width: 100%;
    height: 100px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.singleButton {
    margin: auto;
}